




.submission {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px dashed royalblue;
    background-color: rgb(221, 224, 228);
    padding: 1rem;
    margin: 0.5rem 0;
    font-size: smaller;
}